body {
    background-color: grey;
}

.info {
    width: 1200px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px;
    background-color: #F2F2F2;
    display: flex;
    column-gap: 60px;

}

.info-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.info-item::before {
    content: "";
    height: 4px;
    width: 72px;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    position: absolute;
    top: 148px;
    left: 0;
}

.info-item-title {
    font-size: 36px;
    font-weight: bold;
    padding: 22px;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    display: inline-block;
    border-radius: 6px;
    color: white;
    margin-bottom: 26px;
}
.info-item-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #031D5B;
    margin-bottom: 51px;
}

.info-item-text {
    line-height: 28px;
    color: #3A3A44;
}

::selection {
    color: transparent;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    -webkit-background-clip: text;
}

.main-title {
    font-weight: bold;
    font-size: 100px;
    line-height: 500px;
    text-align: center;
    margin-bottom: 500px;
    letter-spacing: 0.2px;
    color: transparent;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    -webkit-background-clip: text;


}