/*main-container {*/
/*    !*width: 1900px;*!*/


/*.box{*/
/*    border: 1px solid   green;     оставил для будующего анализа*/
/*width: 100%;                       просьба не обращать внимание на класс box*/
/*    height: 70px;*/
/*}*/

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    text-transform: uppercase;


}
.head-architect {
    text-align: center;
    justify-content: center;
}
.head-flex {
    display: flex;
}
.head-left {
    align-items: center;
    background-color: #313131;
    color: white;
}
.head-logo {
    margin-left: 10%;
}

.head-architect {
    align-content: center;
    margin-left: 27px;
    font-size: 28px;

}


.head-center {
    width: 170%;
    justify-content: center;
    display: flex;
    background-color: #313131;

}
.head-central-ul {
    display: flex;
    align-items: center;


}
.head-central-ul>li{
    /*margin-left: 35px;*/
    /*margin-right: 0;*/
    padding: 17.5px;
}
.head-items>a {
    color: white;
    font-size: 15px;
}

.head-items>a:hover{
    color: #14B9D5;

}

.search {
    display: flex;
    justify-content: flex-end;
    background: #313131;

}

.img-search {
    background-color: black;
    padding: 26.5px;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url(https://s3-alpha-sig.figma.com/img/d5a4/4ada/7599f459412d687985ddfaf62040ca03?Expires=1623024000&Signature=QWSkxH29IqEICh3EvIsKOkAXn09jcx2QSKCQVKP--34L7p0j2qUNlEWRFpV8PbqBgyujVdbYLYr2I3Xvm9d6tcELkOG7sda~nX-B19~6TXfnS6GeuNHWfyTPQgieelGaiQ2-2NXfkoHLSronE-V~QnjD-GBEihEP0-aGuooexhMEIkIuEfS2EP-gg-2ngKVw44jXtVqygdsZHf7xzVkavr~hGNWVifyihD~zTofdJ9aOFzgL8sxUXgk7HQh0YkQ6bltMpU4sohidoNqTZGGXqMGJyBXsRuYymIibP4nK9BvhWrcp4kbUw6gjQFSygqMuWI3CEwkmj1dh3sSEhHRXvQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 370px;
    justify-content: flex-end;
    color: white;
    background-attachment: fixed;
}
.header-subject {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    font-size: 27px;
}
.header-button {
    display: flex;
    justify-content: center;
    margin-bottom: 74px;


}
.header-button-1a {
    color: white;
    width: 170px;
    height: 55px;

}
.header-button-2a {
    color: white;
    width: 170px;
    height: 55px;
}
.header-button-1 {
    width: 170px;
    height: 55px;
    background-color: #89CA62;
    border: #89CA62;
    border-radius: 10px;
    font-size: 18px;

}
/*.header-button-2 {*/
/*    width: 170px;*/
/*    height: 55px;*/
/*    background-color: #14B9D5;*/
/*    border: #14B9D5;*/
/*    border-radius: 10px;*/
/*    font-size: 18px;*/
/*}*/
.header-button-blue {
    background-color: #14B9D5;
    border: #14B9D5;
    margin-left: 20px;
}
.main-section {
    margin: 0 auto;
    width: 1200px;
}

.section1 {
    /*margin-top: 50px;*/
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}
.blue-subtitle {
    padding-top: 50px;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    font-weight: bold;

}


.section1-flex{
    flex-direction: column;
    height: 1000px;
    margin: 50px;
    display: flex;
    /*justify-content: space-between;*/
    max-width: 1200px;
    flex-wrap: wrap;
    row-gap: 30px;
    /*padding-bottom: 70px;*/
    align-content: center;


}
.section1-content1 {
    /*width: 120px;*/
    /*height: 100px;*/
    margin: 0;
    padding-bottom: 30px;
    padding-right: 30px;
    border: 0;
    vertical-align: baseline;


}

.section1-content1-img {
    /*height: 70%;*/
    /*width: 120px;*/
    /*border: 1px solid   red;*/
}
.section1-content1-desc {
    /*border: 1px solid   blue;*/
    padding: 20px 15px 20px 15px;
    /*height: 30%;*/
    /*width: 120px;*/
    color: #353A3D;
    background-color: white;
}
.parallax {

    background-image: url("https://gitlab.com/dan-it/groups/pe35/-/raw/25e30902b4c13dadf92ac7a8741c55f1a1f2dbff/programming-essentials/basic-html-css/homework/homework4-Design-and-architecture/img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 190px;
    background-attachment: fixed;

}
.parallax-subject {
    text-transform: uppercase;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.parallax::before {
    content: '';
    height: 3px;
    width: 60px;
    border: 1px solid #18B4CF;
    background-color:#18B4CF ;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
}
.parallax-grid {
    margin-top: 190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 55px;
    text-align: center;

}
.parallax-grid-img {
    display:inline-block;
}

.rated-img {
    display: grid;
    margin-top: 50px;
    border: 1px solid black;
    grid-template-columns: repeat(7, auto);
    grid-gap: 0;

}
.rated-img2 {
    width: 215px;
    height: auto;

}

.news-grid {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 60px;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8"

}
/*.news-grid {*/
/*    margin-top: 50px;*/
/*    display: grid;*/
/*    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
/*    grid-template-columns:1fr 1fr 1fr 1fr;*/
/*    grid-gap: 60px;*/
/*    grid-template-areas:*/
/*    "item1 item1 item1 item2"*/
/*    "item3 item3 item4 item4"*/
/*    "item3 item3 item4 item4"*/
/*    "item5 item5 item6 item6"*/
/*    "item5 item5 item6 item6"*/
/*    "item7 item8 item8 item8"*/

/*}*/
.item1 {
    grid-area: item1;
    max-width: revert;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.grid-flex {
    display: flex;
    flex-direction: row;
}

.news-subtitle-right {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}
.news-text {
    text-align: end;
    font-size: 14px;
    line-height: 21px;
}
.news-subtitle-centre {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.footer {
    background-color: black;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;

}
.footer-text {
    font-size: 13px;
    color: white;
}
.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo-text {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}















