body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.container {
    width: 1020px;
    margin: 46px auto 400px auto;
    /*border: 1px solid black;*/
    /*!*height: 800px;*!*/
    /*background-color: white;*/
    /*margin-bottom: 500px;*/
}

 /*-------------------------HEADER-------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: white;
}
.header-left-logo {
    display: flex;
    flex-direction: column;
    gap: inherit;
}
.logo{
    width: 53px;
    height: 47px;
}

.milan {
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
}
.holidays {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.header-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contact {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 28px;
}
/*.castle:hover {*/
/*    content: url("../img/logoOrang.png");*/
/*}*/
.header-left:hover .milan{
    color: #F26522;
    /*content: url("../img/logoOrang.png");*/
}
.header-left:hover .holidays{
    color: #F26522;
    /*content: url("../img/logoOrang.png");*/
}
.header-left:hover .logo {
    content: url("../img/logoOrang.png");
}
.contact:hover  {
    color: #F26522;
}
/*-------------------------MAIN-----------------------*/
.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 40px ;
    margin-top: 22px;
}
.card1 {
    width: 300px;
    position: relative;
}
.border-wrap {
    padding: 3px;
    background: linear-gradient(white, black);
}
.capitalize {
    text-transform: capitalize;
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}
.main-grid:only-of-type img{
    width: 300px;
    height: 220px;
}
#card2-img {
    height: 228px;
}                           /*знаю что так не правильно, нет времени обризать */
#card2-text {                     /*  картинку*/
    padding-top: 12px;
}
.card1:hover .card1-text{
    color: #F26522;
    transition: color 1s;
}


/*------------------------------HOVER----------------------------------*/

.flex-hover {
    display: flex;
    align-items: flex-end;
}
.hover1 {
    height: 55px;
    background-color:#F26522 ;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 7px 37px 12px 16px;
    position: absolute;
    width: -webkit-fill-available;
    /*margin-left: 3px;*/
    /*width: 306px;*/
    /*top: 1000000px;*/
    opacity: 0;
}
.hover1-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hover1-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hover-price{
    display: flex;
    font-size:20px;

}
.hover-from {
    font-size: 10px;
}
.hover-right {
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    position: relative;
}
.hover-right::after {
    content: '';
    width: 8px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-left: 94px;
    top: 48px;
    transform: rotate(-45deg);
}
.hover-right::before {
    content: '';
    width: 8px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-left: 94px;
    top: 43px;
    transform: rotate(45deg);
}
.card1:hover .hover1 {
    opacity: 1;
    transition: 1s;
}

.card3 {
    width: 300px;
    position: relative;
}

.flex-hover {
    display: flex;
    align-items: flex-end;
}
.card3:hover .hover3 {
    opacity: 1;
    transition: 1s;
}

.hover3 {
    height: 55px;
    background-color:#F26522 ;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 7px 37px 12px 16px;
    position: absolute;
    width: -webkit-fill-available;
    /*margin-left: 3px;*/
    /*width: 100%;*/
    /*top: 1000000px;*/
    opacity: 0;



}
.hover3-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hover3-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hover-price{
    display: flex;
    font-size:20px;

}
.hover-from {
    font-size: 10px;
}
.hover-right {
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    position: relative;
}
.hover-right::after {
    content: '';
    width: 8px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-left: 94px;
    top: 48px;
    transform: rotate(-45deg);
}
.hover-right::before {
    content: '';
    width: 8px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-left: 94px;
    top: 43px;
    transform: rotate(45deg);
}
.card3:hover .card3-text{
    color: #F26522;
    transition: color 1s;
}


.footer {
    margin-top: 50px;
    color: white;
    font-size:12px ;
    text-transform: capitalize;
    text-align: center;
}
