.cart_item{
    width: 50em;
    height: 8em;
    background: linear-gradient(225deg, rgb(152, 207, 195), rgb(167, 133, 201));
    border-radius: 30px;
    overflow: hidden;
    // cursor: pointer;
    position:relative;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    
    .cart_left{
        display: flex;
        width: 60%;

        .carts_description{
            .cart_name{
                color: white;
            }
        }
        // margin-top: 50px;
        .cart_img{
        width: 6em;
        height: 6em;
        border-radius: 50%;
        margin: 1em;
        
        // transition: 0.7s;
        // &:hover {
        //     transform: scale(2.1) ;
        //     }
        } 
    }
    .cart_counter{

        margin: 1em 2em 1em 1em;
        display: flex;
        align-items: center;

        .cart_btn{
            margin: 0.5em;
            height: 5em;
            width: 2em;
            background-color: rgb(255, 0, 0);  
            border-radius: 40px;  
            cursor: pointer;
        }
        .cart_btn_plus{
            background-color: rgb(89, 211, 89);
        }
        .btn_buyDelete{
            display: flex;
            flex-direction: column;
            .btn_buy{
                cursor: pointer;
                border-radius: 10px;
                border: none;
                height: 3em;
                margin: 1px;
                width: 5em;
                font-size: 15px;
                background-color: rgb(255, 238, 7);
            }
            .btn_delete{
                background-color: rgb(228, 133, 154);
            }
        }
    }
    // .btn_delete{
    //     cursor: pointer;
    //     width: 1em;
    //     height: 1em;
    //     position:absolute;
    //     display: flex;
    //     background-color: red;
    //     align-items: center;
    //     top:0;
    //     right:  0.5em;
    //     justify-content: center;
    //     padding: 0.5em;
    //     border-radius: 50%;
    // }
}