.cart_item{
    width: 50em;
    height: 10em;
    background: linear-gradient(225deg, rgb(152, 207, 195), rgb(167, 133, 201));
    border-radius: 30px;
    overflow: hidden;
    position:relative;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    .cart_left{
        display: flex;
        width: 60%;

        .carts_description{
            .cart_name{
                color: white;
            }
        }
        .cart_img{
        width: 6em;
        height: 6em;
        border-radius: 50%;
        margin: 2em;
        } 
    }
    .cart_counter{

        margin: 1em 2em 1em 1em;
        display: flex;
        align-items: center;

        .cart_btn{
            margin: 0.5em;
            height: 5em;
            width: 2em;
            background-color: rgb(255, 0, 0);  
            border-radius: 40px;  
            cursor: pointer;
        }
        .cart_btn_plus{
            background-color: rgb(89, 211, 89);
        }
        .btn_buyDelete{
            display: flex;
            flex-direction: column;
            .btn_buy{
                cursor: pointer;
                border-radius: 10px;
                border: none;
                height: 3em;
                margin: 1px;
                width: 5em;
                font-size: 15px;
                background-color: rgb(255, 238, 7);
            }
            .btn_delete{
                background-color: rgb(228, 133, 154);
            }
        }
    }
}