body{
    background-color:rgb(255, 255, 255);
}
#changeColor {
    border-radius: 10px;
    border: none;
    border-top: 2px;
    size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    color: red;
    width: 200px;
    height: 50px;
    background-color: #F48E08;
}
.change{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}