.root {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  height: 50px;
  background: tomato;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      list-style-type: none
    }
  }
  a {
    color: #fff;
    filter: brightness(.8);
    margin: 0 1em 0 1em;
    
    

    &:hover {
      filter: brightness(1);
    }
  }
}

.active {
  filter: brightness(1) !important;
  cursor: default;
}