body {
    font-family: "Roboto Light", sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;


}
.header {
    font-size: 80px;


}

.header-ramda {
    /*display: inline-block;*/
    margin-top: 63px;
    /*margin-right: unset;*/
}
.header-ramda-ra {
    text-transform: capitalize;
}

.header-ramda-mda {
    color: #3cd3ff
}

.navigation {
    display: flex;
    background-color: #35444F;
    margin-top: 38px;
    height: 72px;
    justify-content: center;

}

.navigation-item>a {
    font-style: normal;
    font-size: 24px;
    /*line-height: 28px;*/
    color: white;
    padding: 26px 38px;
}

.navigation-item{
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0 35px;*/
    transition: color 1s;
    /*padding: 20px;*/
}


.navigation-item:hover {
    background-color: #222F3A;
}

/*.navigation-item:hover {*/
/*    text-decoration: underline;*/

/*}*/
.container-main {
    margin-top: 48px;
}

.main {
    display: flex;
    justify-content: space-between;
}


.menu-left {
    font-size: 27px;
    /*padding-left: 44px;*/
    border: 1px solid #000;
    width: 260px;
    /*height: 399px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.menu-left-item>a {
    display: inline-block;
    color: #485863;
    padding: 20px;



}


.menu-left-item:hover {
    background: #DBDBDB;
    /*margin-left: 5px;*/
    padding-left: 5px;

}

.content {
    /*border: 1px solid black;*/
    width: 885px;
    /*height: 300px;*/
    display: flex;
    flex-direction:column ;
    /*overflow: hidden;*/



}
.content-canvas {
    height: 530px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    border: 1px solid black;
    display: flex;
    /* margin: 100px; */
}

.animal-img {
    transition: 1s; /* Время эффекта */
    display: block;
}
.animal-img:hover {
    transform: scale(1.2);
}





.content-text {
    /*height: 200px;*/
    /*border: 1px solid   ;*/
    margin-top: 35px;
}


.footer {
    margin-top: 55px;
    display: flex;
    background: #63696E7A;
    /*color: white;*/
    /*padding: 40px 15px;*/
    justify-content: space-around;
    font-size: 28px;
}
.footer-item {
    padding: 40px 15px ;
}

.push {
    margin-left: 82px;
}

.footer-item>a:hover {
    color: #0f86ff;
    border-bottom: 1px solid #0f86ff;

}

















