body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../img/fon.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.ff-capitalize {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
}
.active-green:hover{
    color: #01813F;
    stroke: #01813F;
}
.mr25 {
    margin-right: 25px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}
.header-contact{
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.entrance {
    margin-left: 25px;
}
.header-journey{
    padding-top: 18px;
    padding-bottom: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}
.entrance{
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}
.login{
    color: #ffffff;
}
.a-calendar:hover .calendar{
    fill:#01813F;;
}
.a-envelope:hover .envelope{
    fill:#01813F;;
}
.a-compass:hover .compass{
    fill:#01813F;;
}

.main{

    display: flex;
    position: fixed;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 445px;
    background-color: #FFFFFF;
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%)*/
}
.form:after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 30px;
    /*transform: translate(0, -50%);*/
}
.section-form{
    width: 325px;
    /*padding: 30px 60px 40px;*/
}
.header-form {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.sign_up{
    text-transform: capitalize;
    Font-size: 20px;
    Line-height: 20px;
}
.login-form{
    text-transform: capitalize;
    color: #3CB878;
}
.login-form:hover{
    text-decoration: underline;
}
.social_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.social-button{
    /*width: 160px;*/
    max-width: 160px;
    min-width: 160px;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: auto;
    background: green;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.social-fb{
    background:#305DB8 ;
}
.social-google{
    background: #DF4A32;
}
.logo-fb{
    padding-left: 17px;
}
.logo-google{
    padding-left: 12px;
}
.social-text{
    font-size: 16px;
    line-height: 87%;
    vertical-align: center;
    text-transform: capitalize;
}
.text-fb{
    padding-right: 22px;
    position: relative;
}
.text-google{
    padding-right: 27px;
}
.text-fb:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    transform: translate(-19px, -25%);
    opacity: 10%;
}
.text-google:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    transform: translate(-19px, -25%);
    opacity: 10%;
}
.social-fb:hover{
    background: #022263;
}
.social-google:hover{
    background: #AB1F09;
}
.or{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    color: #848484;

}
.or:after{
    position: absolute;
    content: '';
    height: 1px;
    width: 152px;
    border: none;
    background: #F2F2F2;
    transform: translate(86px, 10px);

}
.or:before{
    position: absolute;
    content: '';
    height: 1px;
    width: 152px;
    border: none;
    background: #F2F2F2;
    transform: translate(-86px, 10px);
}
.form-regist{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;

}
.field{
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;

}

.field:focus{
    outline: 0;
    outline-offset: 0;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    transition: 0.5s;
}
.a-terms{
    color:  #3CB878;;
}
.a-terms:hover{
    text-decoration: underline;
    color: #01813F;
}
.button-account{
    margin-top: 20px;
    margin-bottom: 38px;
    width: 100%;
    /*height: 20px;*/
    background-color: rgba(60, 184, 120, 0.8);
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    color: white;
    font-family: Ubuntu;
    cursor: pointer;

}
.button-account:hover{
    background-color:  #01813F;
}




/*.test {*/
/*    width: 10px;*/
/*    height: 15px;*/
/*    background: black;*/
/*}*/

