.modal_header{
    // height: 1em;
    background-color: grey;
    display: flex;  
    justify-content: center;
    .modal_closed{
        position: absolute;
        top: 0;
        right: 1em;
        font-size: 2em;
        cursor: pointer;
        
    }
}
.modal_text{
     color: white;
    //  overflow: scroll;
     p{
         overflow-wrap: break-word;
         max-height: 20em;
         margin:1em 1em 1em 1em;
     }
}
.modal_footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 1em, 2em, 2em, 2em;
    width: 100%;
    margin-bottom: 1em;
        input{
            width: fit-content;
            background: rgb(51, 51, 51);
            color: white;
            cursor: pointer;
            
        }
}