body {
    background-image: url("https://w-dog.ru/wallpapers/13/8/465073818104733.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.question {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%);
    font-size: 25px;
    background: #39ff11;
    display: table;
    margin: 20px auto;
    color: white;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
}

.big-container{
    display: flex;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: max-content;
    position: absolute;
    /*margin-top: 39%;*/
    /*margin-left: 37%;*/
    top: 78%;
    left: 50%;
    transform: translate(-50%);
    gap: 270px;
}
.button_style{
    border-radius: 50%;
    font-size: 17px;
    transform: translateY(-5px);
    font-family: monospace;
}
.button_red{
    background: #ff5336;
    position: revert;
}
.button_blue{
    background: #6781ff;
}
