* {
    margin: 0;
    padding: 0;
    }
body {
    font-family: sans-serif;
}

.container {
    width: 1170px; /*внутреней отступ*/
    margin: 0 auto; /*внешний отступ*/
}
.hero {
    background-image: url("../img/hero-bgi.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 530px 0 130px;
    color: white;
}
.hero-title {
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
}
.hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 22px; /*margin: 22px 0 16px*/
}
.hero-slogan {
    width: max-content;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 66px;
    background-color: rgba(0,0,0,0.5);
    /*padding: 38px 0 38px 31px;*/
    font-weight: bold;
    padding-right: 31px;

}
.hero-slogan-input {
    padding: 38px 31px;
    color: #F48E08;
    border-right: 1px solid #F48E08;
    display: inline-block;

}
.navigation {
    border-bottom: 3px solid;
    color: #F1B128;
    padding-bottom: 22px;
}

.navigation-title {
    color: #F1B128;
    font-size: 28px;
    display: inline-block;
    margin-right: 236px;
    text-transform: uppercase;
}

.navigation-menu {
    display: inline-block;
    list-style: none;

}

.navigation-menu-item {
    display: inline; /* Отображать как строчный элемент */
    margin-left: 69px; /* Отступ слева каждого нового items */
    /*padding: 3px; !* Поля вокруг текста *!*/

}

.navigation-menu-item-link {
    text-transform: uppercase;
}



