body{
    padding-top: 5vh;
    background-image: url(img/D2R_2021_Blizzard.comMobile_1536x1536_MB01.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.welcomWindow{
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; 
    width: 90vw;
    height: 90vh;

   /* display: none;                        !!!!!!!!!!!!!!!!!!!!!!!!!!! */
}
/* .welcomWindow{
    
    
} */
.welcome{
    font-size: 150%;
    color: white;
    text-align: center;
    margin: auto 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center
}
.welcome-hi{
    font-size: 250%;
}
.welcome-reg{
    /* color: rgb(43, 255, 0); */
    /* color: black; */
    line-height: 150%;
}
.welcome-go{
    margin-top: 3vh;
}
.teams{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    height: 15vh;
    width: 100%;
    align-items: center
}
.team{
    margin: 0 5vh;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.teams div:hover{
    width: 12vh;
    height: 12vh;
    margin: 0 4vh;
}
.team-UA{
    background-image: url(img/ukraina-flag-gryaz.jpg);
}
.team-RU{
    background-image: url(img/rossiya-flag-gryaz.jpg);
}
.team-US{
    background-image: url(img/gryazniy-flag-usa.jpg);
}
.activePlayer{   /*ACTIVE!!!!!!!!!!!!!!!!!!!!!!!!! */
    width: 12vh;
    height: 12vh;
    margin: 0 4vh;
    position: relative;
}
.activePlayer::after{
    content: " ";
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    background-color: rgba(8, 4, 4, 0.8);
    position: absolute;
    transform: translateX(-50%);
}
.welcome-next{
    width:  50vh;
    height: 9vh;
    border-radius: 30px;
    background-color: blue;
    cursor: pointer;
}
.welcome-next_text{
    font-size: 1vw;
}



.table{
    border: none;
    margin: 0 auto;
    width: 60vw;
    height: 80vh;
    border-spacing: 1vh 1vh;
	border-collapse: separate;
    /* display: none; */
    
 } 
tr {
    border: none;
}
td {
    border: 1px solid red;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /* background: url(img/rossiya-flag-gryaz.jpg); */
    /* display: none; */
}

.windowInfo{
    width: 15vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
.windowInfo-flag{
    background-image: '';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 12vw;
    height: 20vh;
}
.windowInfo-team{
    font-size: 25px;
    color: seashell;
}
.windowInfo-computor{
    width: 15vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.btnStart{
        width:  50vh;
        height: 9vh;
        border-radius: 30px;
        background-color: blue;
        cursor: pointer;
        font-size:  1vw;
        color: red;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
};
.tdComputor{

}
.tdPlayer{

}