.block {
    width: 400px;
    height: 400px;
    background-color: #3cd3ff;
    position: center;
    margin: 20px;
    
}

p {
    margin: 200px;
    font-size: 200px;
    position: relative;

}
p::after {
    content: '';
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}