.cards{
    width: 14em;
    // height: 10em;
    background: linear-gradient(225deg, rgb(152, 207, 195), rgb(167, 133, 201));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    position:relative;


    // margin-top: 50px;
    img{
    width: 100%;
    height: 100%;
    // object-fit: contain;
    transition: 0.7s;
        &:hover {
            transform: scale(2.1) translateY(15%);
        }
    }
    svg{
        height: 1em;
        width: 1em;
        // position: absolute;
        // transform: translate(-200%, 50%);  
    }
    .svg{
        height: 1em;
        width: 1em;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-150%, 50%);  
    }
    p{
        margin-left: 0.5em;
    }
    .card_name{
        text-align: left;
        font-family: serif;
        font-size: 16px;
        color:black;
        
    }
    .button_card{
        margin-left: 50%;
        margin-bottom: 2em;
        transform: translateX(-50%);
        color:rgb(152, 207, 195);
        background-color: rgba(5, 5,  5, 5);
    }
    
    
}

