* {
    margin: 0;
    padding: 0;
}


.pulse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    color:red;
    font-weight: bold;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    animation: radial-pulse 1s infinite;
}

.wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.math-function{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp0925zhRbqSxiwRL1dfNRcTPv9v8vsYzEPQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}
.factorial{
    background: url(https://images.routledge.com/common/jackets/originals/978036737/9780367378981.tif);
    background-repeat: no-repeat;
    background-size: cover;
}
.fibonacci{
    background: url(https://miro.medium.com/max/4100/1*QOYfxawBgjMCW31JsSmk9Q.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#pulse_math-function{
    background: url(https://proza.ru/pics/2019/02/11/1901.jpg);
    background-size: cover;
}
#pulse_factorial{
    background: url(https://alchetron.com/cdn/christian-kramp-6160c2e9-13d7-4f07-8f0e-2596d6bd781-resize-750.png);
    background-size: cover;
}
#pulse_fibonacci{
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Fibonacci2.jpg/274px-Fibonacci2.jpg);
    background-size: cover;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}

.buttons {
    display: flex;

}