.block {
    width: 200px;
    height: 200px;
    background-color: teal;
    margin: 200px auto;
    animation: moveDiv 2s infinite linear /*alternate-reverse*/ ;
}

@keyframes moveDiv {
    0% {
        transform: scale(1) ;
    }
    50%{
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }

}