
* {
    margin: 0;
    padding: 0;
}

.font-sans-serif {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;

    font-family: sans-serif;/* сглаживает текст */


}

.navigation {
    margin-left: 430px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;

}



.navigation-menu-item {
    display: inline; /* Отображать как строчный элемент */
    margin-left: 72px; /* Отступ слева каждого нового items */
    /*padding: 3px; !* Поля вокруг текста *!*/
    margin-top: 30px;


}
.navigation-menu-item-a {
    color: #ff0000;
}

.minus {
    margin-left: 50px;
}




.page {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 530px 0 130px;
    color: white;
    width: 100%;

}

.subject {
    margin:48px 397.5px 0px 397.5px;
    text-align: center;
    width: 724px;
    height: 29px;
/*724+363+432 =1520*/
}
.subject-text{
    font-size: 22px;

}

.main {
    display: inline-block;
    margin: 10px 0 0 0;
    /*border: 1px solid #000;*/
    height: 376px;
    width: 1519px;
    text-align: center;
    vertical-align: center;


}

.main-text {
    /*border: 1px red solid;*/
    width: 1357px;
    margin: auto;
    margin-top: 28px;
}
/*67.5+67.5=135    10.54%*/

.button {
    margin: 66px 0 0 0;
    width: 1519px;
    height: auto;
    text-align: center;


}
.button-red {
    border: none;
    border-radius: 10px;
    height: 61px;
    width: 231px;
    background-color: #ff0000;

}

.button-red-click{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;

}
footer {
    margin: 82px 0 0 0;
    width: 1519px;

}

.footer {
    text-align: end;
    margin-right: 126px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 29px;

}



