.modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);

}
.modal.active{
  transform: scale(1);
}
.modal_content{
  // padding: 20px;
  height: fit-content;  
  width: fit-content;
  max-width: 20em;
  max-height: 50vh;
  background-color: black;
  position: relative;
}
.buttons{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10em;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

