body {
    width: 100%;
    height: 100%;
    font-family:sans-serif;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
    overflow: hidden;
    
}
.subject-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 4em;
    margin-bottom: 4em;
}
.subtitle{
    margin-bottom: 2em;
}
#titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(25deg);
}
#titles:after
{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}
#title-content{
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 1s infinite;


}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: -200%; }


}





























/*body {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #000;*/
/*    overflow: hidden;*/
/*}*/

/*.fade {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    min-height: 60vh;*/
/*    top: -25px;*/
/*    background-image: linear-gradient(0deg, transparent, black 75%);*/
/*    z-index: 1;*/
/*}*/

/*.star-wars {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    height: 800px;*/
/*    color: #feda4a;*/
/*    font-family: 'Pathway Gothic One', sans-serif;*/
/*    font-size: 500%;*/
/*    font-weight: 600;*/
/*    letter-spacing: 6px;*/
/*    line-height: 150%;*/
/*    perspective: 400px;*/
/*    text-align: justify;*/
/*}*/

/*.crawl {*/
/*    position: relative;*/
/*    top: 99999px;*/
/*    transform-origin: 50% 100%;*/
/*    animation: crawl 30s linear;*/
/*}*/

/*.crawl > .title {*/
/*    font-size: 90%;*/
/*    text-align: center;*/
/*}*/

/*.crawl > .title h1 {*/
/*    margin: 0 0 100px;*/
/*    text-transform: uppercase;*/
/*}*/

/*@keyframes crawl {*/
/*    0% {*/
/*        top: -100px;*/
/*        transform: rotateX(20deg)  translateZ(0);*/
/*    }*/
/*    100% {*/
/*        top: -6000px;*/
/*        transform: rotateX(25deg) translateZ(-2500px);*/
/*    }*/
/*}*/