body{
    font-family: 'Montserrat', sans-serif;;
}
/* HEADER */

.home{
    background-image: url("../img/header/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maxWith{
    max-width: 1160px;
    margin: 0 auto;
}
.home-wordpress{
    margin-top: 260px;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-transform: uppercase;
}
.home-wordpress_green{
    color: #18CFAB;
}
.home-title{
    margin-top: 22px;
    font-size: 78px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.home-sub-title{
    margin-top: 22px;
    font-size: 34px;
    color: #D4D4D4;
    text-transform: capitalize;
    font-weight: normal;
}
.home-btn{
    margin-top: 134px;
    margin-bottom: 245px;
    display: flex;
    position: relative;
}
.home-btn_style{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    /*position: relative;*/
    margin: 0 11px;
    width: 170px;
    height: 65px;
    border-radius: 10px;
    border: none;
    border-top: 2px;
    size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
.btn-copy{
    position: absolute;
    margin: 0 11px;
    top: -5px;
    width: 170px;
    height: 65px;
    border-radius: 10px;
    border: none;
    border-top: 2px;
    background-color: #ffffff;
}
.btn-explore{
    background-color: #18CFAB;

}
.btn-purchase{
    background-color: #00CBF6;
    position: relative;

}
.btn-copy_right{
    position: absolute;
    margin: 0 11px;
    top: -5px;
    left: 192px;
    width: 170px;
    height: 65px;
    border-radius: 10px;
    border: none;
    border-top: 2px;
    background-color: #ffffff;
}
/* NavBar*/
.navbar_bg{
    background-color:  rgba(94, 93, 88, 0.6);
    height: 120px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-log{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-log_H{
    background-image: url("../img/header/Polygon 1 1.png");
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    /*background-image: url(../img/Polygon.png);*/
    background-repeat: no-repeat;
    margin-right: 6px;
    margin-top: 26px;
    margin-bottom: 27px;
    padding: 18px 14px;

}
.theHam{
    padding-left: 10px;
    font-size: 32px;
    color: white;
    line-height: 48px;
}
.theHam_ham{

    color: #18CFAB;
    font-weight: bold;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    height: 120px;
}
.navbar-li{
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar-li:hover{
    color: #18CFAB;
    cursor: pointer;
    border-bottom: 2px solid  #18CFAB;
}
/*                    OPTION            */
.option{
    display: flex;
    height: fit-content;
    margin-top: 10px;
}
.option-blocks{
    padding-top: 95px;
    padding-bottom: 110px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.option-with{
    width: 33.33%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    /*height: fit-content;*/
}
.option_firs{
    background-color: #1C2A33;
    color:#18CFAB;
}
.option_second{
    background-color: #18CFAB;
    color: #ffffff;
}
/*                OUR SERVICES                */
.services-title{
    position: relative;
    margin-top:80px;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 400;
    color:#4E4E4E;
}
.title-BA::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #18CFAB;
    display: inline;
    top: 170%;
    right: 50%;
    transform: translateX(50%)
}
.title-BA::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #18CFAB;
    display: inline;
    top: 180%;
    right: 48%;
    transform: translateX(50%)
}
.services-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    position: relative;
}
.services-li:hover{
    border-color: #18CFAB;
}
.services-active::before {
    content: "";
    position: absolute;
    background-color: #18CFAB;
    left: 83px;
    bottom: -3px;
    width: 27px;
    height: 15px;
    z-index: -1;
    transform: rotate(45deg);

}
.services-li{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border:  1px solid #EDEFEF;
    text-align: center;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    background-color: #F8FCFE;
    cursor: default;
}
.services-active{
    background-color: #18CFAB;
    color:#ffffff;
    border-color: #18CFAB;
}
/*///////////////////////*/
.services-contents{
    display: none;
}
.services-content{
    margin-top: 23px;
    margin-bottom: 100px;
    display: flex;
    height: 136px;
    /*display: none;*/
}
.services-content-display{
    display: flex;
}
/*///////////////////////*/
.services-img{
    width: 190px;
    margin-right: 15px;
}
.services-text{
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    word-wrap: break-word;
    overflow: auto;
}
/*                 PURCHASE            */
.purchase{
    position: relative;
    background-image: url(../img/purchase/purchaseBGI.jpg);
    /*background-color:  rgba(0, 0, 0, 0.5);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.purchase:before {
    content: "";
    position:absolute;
    width: 100%;height: 100%;
    background: rgba(0,0,0,0.8);
}
.purchase-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    z-index: 0;
}
.pur_allTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.pur-title{
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 40px;
    color: #18CFAB;
    font-size: 40px;
    text-transform: uppercase;
}
.pur-subtitle{
    color: #D8D8D8;
    font-size: 16px;
}
.pur-btn{
    position: relative;
    margin-top: 70px;
}
.pur-btn-copy{
    position: relative;
    margin: 0 11px;
    bottom: 70PX;
    width: 170px;
    height: 65px;
    border-radius: 10px;
    border: none;
    border-top: 2px;
    background-color: #ffffff;
}

/*               AMAZING WORK          */
.section-amazing{
    padding-top: 100px;
}
.amazing-work{
    background-color: #E9EDEF;
    margin-top: 0px;
    padding-bottom: 100px;
}
.section-title{
    position: relative;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 400;
    color:#4E4E4E;
    margin-bottom: 100px;
}

.amazing-btn {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}
.amazUl{
    display: flex;
}

.amazLi{
    padding: 15px;
    border: 1px solid #DADADA;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0001);
    color: #717171;
    cursor: default;
}
.amazLiFirst{
    padding-right: 30px;
    padding-left: 30px;
}
.amazLiActive{
    color: #18CFAB;
    border-color: #18CFAB;
}
.amaz-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 12px;
}

.amaz-img{
    height: 100%;
    width: 100%;

}
.amaz-contentImg{
    position: relative;
    overflow: hidden;
}

.hover{
    background-color: #E9EDEF;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -1000px;
    opacity: 0;
    left: 0;
    transition: opacity 0.5s, top 0.5s;
    border-top: 6px solid #18CFAB;
}

.amaz-contentImg:hover div{
    top: 0;
    opacity: 1;
}
.hover_img{
    padding-bottom: 35px;
}
.hover_title{
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
}
.hover_category{
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
    text-transform: capitalize;
}

/*Breaking News*/

.news{
    margin-top: 85px;
    margin-bottom: 100px;
}
.news-cards{
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}
.card{
    position: relative;
    margin-bottom: 50px;
}
.card-img{
    width: 265px;
    height: 210px;
    /*position: relative;*/
}
.img{
    height: 100%;
    width: 100%;
}
.card-date{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    width: 70px;
    position: absolute;
    background-color: #203E38;
    transition: background-color 0.5s;
    bottom: 100%;
    left: 100%;
    transform: translate(-100%, 100%);
    color: #ffffff;
}
.card-title{
    color: #717171;
    font-weight: bold;
    font-size: 18px;
    transition: color,padding-left 0.5s;
    padding-left: 10px;
    margin-top: 13px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin-top: 15px;
    padding-left: 10px;
    color: #777777;
    font-size: 14px;
    position: relative;
}
.card-footer::after{
    content: ' ';
    height: 100%;
    width: 0.5px;
    background-color: #777777;
    position: absolute;
    right: 50%;
}
.card:hover .card-date{
    background-color: #18CFAB;
}
.card:hover .card-title{
    padding-left: 15px;
    color: #18CFAB;
}
.btn-amaz{
    margin: 70px auto 0 auto
}
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    border-left-color: #18CFAB;
    animation: loader 0.5s linear infinite;
    display: none;
    margin: 70px auto 0 auto

}
@keyframes loader {
    0%{
        border-left-color: #18CFAB;
    }
    50%{
        border-left-color:white;
    }
    100% {
        transform: rotate(360deg);
        border-left-color: #18CFAB;
    }
}

.plus{
    font-size: 25px;
}

                    /*PEOPLE*/
                    /*main people*/
.people{
    background-image: url(../img/people/peopeBG.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-color: rgba(0,0,0,0.4);
}
.people-flex{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.people-logo{
    max-width: 50px;
    max-height: 35px;
}
.people::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    /*z-index: -1;*/
}
.people-title{
    color: white;
}
.skills{
    transition: 0.5s;
    color:rgba(187, 187, 187, 1);
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
}

.name{
    transition: 0.25s;
    text-transform: uppercase;
    color: rgba(24, 207, 171, 1);
    margin-top: 40px;
    font-weight: bolder;
}
.people-name-rgba{
    color: rgba(24, 207, 171, 0);
}
.occupation{
    transition: 0.25s;
    color:rgba(187, 187, 187, 1);
    margin-top: 20px;
    margin-bottom: 40px;
}
.photo-sector{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photoFrame{
    width: 145px;
    height: 145px;
    border: 5px solid rgba(31,218,181,0.2);
    border-radius: 50%;
    /*animation-name: picture-size;*/
    animation-duration: 0.5s;
}
.photoFrame img{
    object-fit: cover;
    border-radius: 50%;
}
.mainFoto{
    width: 100%;
    height: 100%;
}
.people-rgba{
    /*transition: 0.5s;*/
    color:rgba(187, 187, 187, 0);
}
.candidates{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    line-height: 15px;
    width: 400px;
    margin-bottom: 100px;
}
.allCandidates{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%     ;
}
.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    /*transform: translateX(-5px);*/
}
.switch-left svg{
    transform: rotate(180deg)
}
.people-active{
    transform: translateY(-15px);
}
.switch:hover svg path{
    fill: white;
}
.switch:hover {
    background-color: #18CFAB;
    border-color: #18CFAB;
}
.photoFrame-candidates{
    border: 5px solid rgba(31,218,181,0.2);
    border-radius: 50%;
    text-align: -webkit-match-parent;
    width: 60px;
    height: 60px;
    transition: 0.3s;
}
.photoFrame-candidates img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
@keyframes picture-size {
    0%{
        width: 145px;
        height: 145px;
    }
    50%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 145px;
        height: 145px;
    }
}
                /*Footer*/
.footer{
    background-color: #22353F;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer-title{
    font-size: 14px;
    font-weight: 300;
    color: #AEAEAE;
}
.FT-main{
    text-transform: capitalize;
}
.footerHum{
    position: relative;
    padding-left: 3px;
    padding-right: 14px;
    color: #18CFAB;
}

.footerHum::after {
    position: absolute;
    content: '';
    width: 1px;
    border: none;
    height: 100%;
    transform: translate(7px,-2px);
    background-color:#AEAEAE;
}







