.modal{
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    top:0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    // transform: translate(50%);
    .modal_board{
        background-image: radial-gradient(circle at 28.21% 48.09%, #ff73e7 0, #fe66ec 12.5%, #e259f1 25%, #bf4ef5 37.5%, #9246f9 50%, #4d42fc 62.5%, #0042ff 75%, #0044ff 87.5%, #0046ff 100%);
        position: fixed;
        top: 15em;
        right: 50%;
        transform: translate(50%);
        border-radius: 10px;
        .modal_content{
            margin: 2em;
            color: black;
            .modal_closed{
                position: absolute;
                top: 0.5em;
                right: 1em;
                width: 1em;
                height: 1em;
                background-color: red;
                border-radius: 50%;
                cursor: pointer;
            }
            .modal_buttons{
                display: flex;
                justify-content: space-around;
                .modal_btn{
                    padding: 0.5em, 1em;
                    background-color: red;
                    border-radius: 20px;
                    cursor: pointer;
                }
                .modal_btn_ok{
                    background-color: blue;
                }
            }
        }
    }
}
.modal_on {
    display: block;
}
